/*  your css code here. If applicable */
.container{
	position:relative;
	display:inline-flex;
	border: 1px solid black;
	margin-bottom:10px;
}

.circle{
	width:30px;
	height:30px;
	/* background-color:green; */
	border-radius:50%;
	border: 2px solid green;
}
.progress{
	width:20px;
	height:3px;
}
/* 
.progress{
	position:absolute;
	height:5px;
	width:10%;
	background-color:blue;
} */

.active{
	border:3px solid blue
}
.progress-active{
	background-color:blue;
}